---
layout: default
---
<div class="post" id="about">
  <header class="post-header">
    <h1 class="post-title"><span class="font-weight-bold">{{ site.first_name }}</span> {{ site.last_name }} (윤석빈)</h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>
  <article>
    <div class="profile">
      <a href="{{ '/images/seokbinyoon_pic.jpg' | relative_url }}"><img class="img-fluid" src="{{ '/images/seokbinyoon_pic.jpg' | relative_url }}" alt="Seokbin Yoon" width="260" height="260"></a>
    </div>
    <div class="clearfix">{{ content }}</div>
  </article>
</div>
